<template>
  <q-page class="flex flex-center">
      <q-card>
      <q-card-section>
      <h6 style="margin:.7em 0">Update database</h6>
      Month:<q-input outlined v-model="month" /><br>
      Day:<q-input outlined v-model="day" /><br>
      Score:<q-input outlined v-model="score" /><br>
      <q-btn color="primary" @click="save">Go!</q-btn>
      </q-card-section>
      </q-card>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import { initializeApp } from "firebase/app";
import { getFirestore, collection, doc, addDoc, setDoc, getDoc, getDocs } from 'firebase/firestore/lite';




export default defineComponent({
  name: 'PageIndex',
    data: ()=>{
        return {
            month : "1970-01",
            day : "4",
            score : "8"
        }
    },
    methods: {save: function() {
        // Your web app's Firebase configuration
        const firebaseConfig = { 
          apiKey: "AIzaSyDui4EgzTR2RzF5XpQFam1i4_nndrh6-Os",
          authDomain: "kpmj-6cbdf.firebaseapp.com",
          projectId: "kpmj-6cbdf",
          storageBucket: "kpmj-6cbdf.appspot.com",
          messagingSenderId: "613691456238",
          appId: "1:613691456238:web:3142f2b4b28f51501d91ff"
        };


        initializeApp(firebaseConfig);

        const db = getFirestore();
        console.log(db);


        // cofiguration
        const month_ro = this.month
        const month = month_ro // later set this to month_ro

        const today = {day: parseInt(this.day), score: parseInt(this.score)}

        // perform crud operation
        const docRef = doc(db, "users/zNznZX2Vomhm3E1v8tjuZom6Wcs2/journal/",month_ro);
        getDoc(docRef).then((docRes)=>{
            let myDoc = docRes.data()
            myDoc.scores[today.day] = today.score

            setDoc(doc(collection(db, "users/zNznZX2Vomhm3E1v8tjuZom6Wcs2/journal/"), month), myDoc );
        })

        return
        getDocs(collection(db, "users/zNznZX2Vomhm3E1v8tjuZom6Wcs2/journal")).then((docs)=>{
            docs.forEach((doc) => {
                if(doc.id == month_ro)
                    the_doc = doc.data()
            });
        })


    }
    }
})
</script>
